@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Libertinus+Keyboard&family=Manufacturing+Consent&family=Pacifico&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Libertinus+Keyboard&family=Manufacturing+Consent&family=Pacifico&family=Story+Script&display=swap');

.material-symbols-outlined{
    text-align:center;
    background:linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-size:50px;
    font-weight:500;
    left:555px;
    z-index:2;
    position:relative;
    left:150px;
}
#arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:860px;
    position:relative;
}
h1{ 
    margin:0;
    position:relative;
    top:240px;
    right:80px;
    z-index:1;
    font-size:50px;
    font-family: "Story Script", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
#main{
    background-color:rgb(0, 0, 0);
    width:350px;
    height:100px;
    position:absolute;
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    align-items: center;
    padding:10px;
    box-shadow:5px 5px 10px rgb(45, 44, 44);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#main:hover{
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar{
    display:none;
}
.ty{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:600px;
}
body{
    margin:0;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 65%, rgba(253, 29, 29, 1) 58%, rgba(252, 176, 69, 1) 34%);
}
#one{
    width:100%;
    height:100%;
    background-color: red;
    z-index:1;
    border-radius:8px;
}
#two{
    width:100%;
    height:100%;
    background-color:rgb(29, 29, 234);
    z-index:1;
    border-radius:8px;
}
#one:hover{
    background-color:rgb(235, 73, 73);
}

#two:hover{
    background-color: rgb(117, 117, 231);
}
#hold{
    position:relative;
    bottom:635px;
    left:280px;
    height:50px;
    width:150px;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 90px;
    z-index:2;
    border:none;
    box-shadow: 5px 5px 10px rgb(45, 44, 44);
}
#der{
    position:relative;
    bottom:590px;
    left:230px;
    width:50px;
    height:50px;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius:90px;
    border-bottom-right-radius:20px;
    z-index:3;
    box-shadow: 5px 5px 10px rgb(45, 44, 44);
}
#main:hover #hold{
    background-color: rgb(53, 51, 51);
}
